/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0; /* Background color */
}

.App {
  text-align: center;
  padding: 20px;
  background-color: #fff; /* White background for the window */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* Shadow to give a "floating" effect */
  width: 400px; /* Width of the window */
  border: 5px solid #4caf50; /* Green border around the window */
  display: flex;
  flex-direction: column;
}

.window-header {
  background-color: #4caf50; /* Green header */
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px 8px 0 0; /* Rounded top corners */
  text-align: center;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 75%;
  margin-bottom: 15px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

li button {
  background-color: red;
}
